html {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  background-color: rgb(27, 27, 27);
  color: whitesmoke;
}

.header {
  display: block;

  font-size: 9rem;
}

.button {
  display: inline-block;
  font-size: 3rem;
  background-color: yellowgreen;
  width: 100px;
  padding: 20px;
  margin-left: 30px;
  border-radius: 20%;
}

.about-text {
  font-size: 6rem;
  color: rgb(143, 141, 141);
  font-weight: 200;
}

.myskills {
  font-size: 6rem;
}

.myskills-list {
  display: inline-block;
  list-style-type: none;
  margin-left: 30px;

}